{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Your lucky number is {{ numberVar.test2 }}
    </h1>
    <p>Test</p>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <ul>
        <li>
    </ul>
{% endblock %}